@import url(change-limit_popup.css);

body {
  margin: 0 auto;
  padding: 50px 0;
  background-color: #343434;
  font-family: "Montserrat", sans-serif;
  background-image: url(https://abrakadabra.fun/uploads/posts/2022-02/1644800847_1-abrakadabra-fun-p-temnii-estetichnii-fon-2.jpg);
  background-size: cover;
}

.main {
  margin: 0 auto;
}
/*flex*/
.expenses-app {
  display: flex;
  margin: 0 auto;
  width: 850px;
  padding: 60px 80px 40px 80px;
  justify-content: space-between;
  border: 1px solid #545454;
}

.expenses__title {
  margin-bottom: 30px;
  color: aliceblue;
  font-size: 35px;
}

.expense-adder {
  display: flex;
  margin-bottom: 10px;
}

.expense-adder__input {
  display: block;
  padding: 5px 10px;
  outline: none;
  width: 180px;
  height: 30px;
  background-color: #3b364b;
  border: 1px solid #292634;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 18px;
  color: white;
  transition: all 0.5s;
}

.expense-adder__input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #ffffff;
  opacity: 0.5;
}

.expense-adder__button {
  width: 120px;
  outline: none;
  cursor: pointer;
  background-color: #3b364b;
  border: 1px solid #292634;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 18px;
  color: white;
  transition: all 0.5s;
}

.expenses-category-wrap {
  margin-bottom: 10px;
}

.expenses-category {
  display: block;
  outline: none;
  padding: 5px 5px;
  width: 322px;
  height: 40px;
  cursor: pointer;
  background-color: #3b364b;
  border: 1px solid #292634;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  transition: all 0.5s;
}

.expense-adder__button:hover,
.expense-adder__button:focus,
.expenses-category:hover,
.expenses-category:focus,
.expense-adder__input:hover,
.expense-adder__input:focus {
  border: 1px solid #292634;
  background-color: #5e5677;
}

.metrics-wrapper {
  margin-bottom: 30px;
  display: flex;
  gap: 40px;
}

.expenses-metrics {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.expenses-metrics__limit-wrap {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  border: 1px solid #545454;
  border-radius: 5px;
}

.expenses-metrics__limit {
  color: aliceblue;
  font-size: 18px;
}

.expenses-metrics__sum,
.expenses-metrics__status {
  width: 320px;
  padding: 10px;
  color: aliceblue;
  font-size: 20px;
  border: 1px solid #545454;
  border-radius: 5px;
}

.change-limit-popup-btn-open {
  margin-top: -3px;
  background: none;
  border: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  background-image: url(change-limit_img.png);
  background-size: cover;
  filter: invert(1);
  transition: all 0.5s ease;
}

.change-limit-popup-btn-open:hover {
  opacity: 0.5;
}

.expenses-metrics__status_green {
  padding: 0 5px;
  background-color: #0e692c;
  border-radius: 5px;
  color: #ffffff;
}

.expenses-metrics__status_red {
  padding: 0 5px;
  background-color: #841010;
  border-radius: 5px;
  color: #ffffff;
}

.right-block-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.extra-block {
  margin-top: 60px;
  display: flex;
}

.calendar {
  margin-top: -8px;
  width: 150px;
  height: 105px;
  background-image: url(calendar-img.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(0.88);
}

.notes {
  display: block;
  padding: 0 5px;
  outline: none;
  width: 170px;
  height: 92px;
  background-color: #122f28;
  border: 1px solid #0f2520;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  transition: all 0.5s;
}

.notes:hover {
  background-color: #1d4b40;
  border: 1px solid #122f28;
}

.notes::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #ffffff;
  opacity: 0.5;
}

.expenses-history {
  margin-top: -5px;
  width: 320px;
  height: 173px;
  padding: 10px 15px;
  border: 1px solid #545454;
  border-radius: 5px;
  background-color: #3b364b;
  overflow-y: auto;
}

/* полоса прокрутки (скроллбар) */
.expenses-history::-webkit-scrollbar {
  width: 6px; /* ширина для вертикального скролла */
  height: 6px; /* высота для горизонтального скролла */
  background-color: #545454;
}

/* ползунок скроллбара */
.expenses-history::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: #3b364b;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #5e5677;
}

.expenses-history::-webkit-scrollbar-thumb:hover {
  background-color: #5e5677;
}

.expenses-history__title {
  margin-bottom: 15px;
  color: aliceblue;
  font-size: 18px;
}

/* Класс для списка ol в JS */
.expenses-history__list {
  display: flex;
  flex-direction: column;
  list-style-position: inside;
}

/* Класс для элемента li списка в JS */
.expenses-history__item {
  color: aliceblue;
  font-size: 16px;
}

.adverts-spot {
  width: 320px;
  height: 180px;
  padding: 10px 15px;
  border: 1px solid #545454;
  border-radius: 5px;
}

.adverts-text {
  margin-top: 55px;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: white;
}

.expense-reset-btn,
.btn-last-expense {
  width: 320px;
  height: 40px;
  outline: none;
  cursor: pointer;
  background-color: #791157;
  border: 1px solid #791157;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  transition: all 0.5s;
}

.btn-last-expense {
  background-color: #122f28;
  border: 1px solid #0f2520;
}

.btn-last-expense:hover {
  background-color: #1d4b40;
  border: 1px solid #122f28;
}

.expense-reset-btn:hover {
  background-color: #b0197e;
  border: 1px solid #4f0b38;
}
